<form action="#" class="user">
  <div>
    <input type="text" name="name" placeholder=" NAME" value="{{name}}">
  </div>
  <div>
    <input type="text" name="hobby" placeholder=" HOBBY" value="{{hobby}}">
  </div>
  <button>Submit</button>
</form>

